       body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e0d98cf0;
      }

      header {
        padding: 20px;
        margin-bottom: 5px;
        background-image: url("Pastel.png");
        background-size: cover;
        background-position: center;
      }

      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      nav ul li {
        display: inline;
        margin-right: 10px;
      }

      nav ul li a {
        text-decoration: none;
        color: #1f1d1cf2;
        font-weight: bold;
        padding: 5px;
      }

      section {
        padding: 20px;
      }

      h2 {
        color: #ee7b07f2;
        margin-bottom: 10px;
      }
      a {
        color: #6a2c58f2;
        margin-bottom: 10px;
      }
      .item {
        margin-bottom: 20px;
      }

      h3 {
        color: #ee7b07f2;
        margin-bottom: 5px;
      }

      p {
        margin: 5px 0;
      }
      .logo {
        width: 175px; /* Defina o tamanho desejado para a largura */
        height: auto; /* Mantém a proporção original da imagem */
        display: block; /* Mostra a imagem como um bloco */
        margin: 0 auto; /* Centraliza horizontalmente a imagem */
      }
      h3 {
        color: #ee7b07f2;
        margin-bottom: 5px;
        background-size: cover;
        background-position: center;
      }
      

   